html{
    background: rgb(94,0,255);
    background: linear-gradient(151deg, rgba(94,0,255,1) 15%, rgba(255,0,254,1) 100%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard{
    background-color: white;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
}

.faq-table{
    align-items: center;
    justify-content: flex-end;
    margin: 40px 180px;
}

dt{
    padding: 20px 0px ;
    border-bottom: solid 0.2px grey ;
    transition: all .5s;
    color: hsl(237, 12%, 33%);
}

dt:hover{
    color: hsl(14, 88%, 65%);
}
.dashboard img{
    position: absolute;
    top: 300px;
    left: 410px;
    width: 400px;
    position: absolute;
    align-self: start;
}

dd{
    display: none;
}
.faq-table img{
    width: 30px;
}