html{
    background: rgb(94,0,255);
background: linear-gradient(151deg, rgba(94,0,255,1) 15%, rgba(255,0,254,1) 100%);

}

.white-table{
    background-color: white;
    width: 1000px;
    height: 600px;
    display: flex;
    border-radius: 30px;
}